@use "sass:color";
@use "sass:list";
@use "sass:map";
@use "sass:math";

@use "variables-init" as vi;
@use "functions" as fn;

$prefix:         "actr-" !default;

$bg-color-light: vi.$gray-100 !default;
$bg-color-dark:  vi.$gray-900 !default;