@use "../configs/variables-scss" as vs;
@use "../configs/variables-derived" as vd;
@use "../configs/variables-init" as vi;

$navbar-h:                  vs.getVar("scheme-h");
$navbar-s:                  vs.getVar("scheme-s");
$navbar-l:                  vs.getVar("scheme-main-l");
$navbar-background-color:   vs.getVar("scheme-main");
$navbar-box-shadow-size:    0 2px 0 0 !default;
$navbar-box-shadow-color:   vs.getVar("background") !default;
$navbar-height:             3.5rem !default;
$navbar-padding-vertical:   1rem !default;
$navbar-padding-horizontal: 2rem !default;
$navbar-z-index:            30 !default;
$navbar-fixed-z-index:      30 !default;

@mixin navbar-fixed {
  left:     0;
  position: fixed;
  right:    0;
  z-index:  vs.getVar("navbar-fixed-z-index");
}

:root {
  @include vs.register-vars((
    "navbar-height": #{$navbar-height}
  ));
}

.#{vi.$prefix}navbar {
  @include vs.register-vars((
    "navbar-h": #{$navbar-h},
    "navbar-s": #{$navbar-s},
    "navbar-l": #{$navbar-l},
    "navbar-background-color": #{$navbar-background-color}
  ));
}

.#{vi.$prefix}navbar {
  background-color: vs.getVar("navbar-background-color");
  min-height:       vs.getVar("navbar-height");
  position:         relative;
}