@use "../configs/variables-scss" as vs;
@use "../configs/variables-derived" as vd;
@use "../configs/variables-init" as vi;

$body-background-color: vs.getVar("scheme-main");
$body-size:             1em !default;
$body-min-width:        300px !default;
$body-rendering:        optimizeLegibility !default;
$body-family:           vs.getVar("family-primary") !default;
$body-overflow-x:       hidden !default;
$body-overflow-y:       auto !default;

$body-text-color:       vs.getVar("text-color");
$body-font-size:        1em !default;
$body-weight:           normal !default;
$body-line-height:      1.5 !default;

$code-family:           vs.getVar("family-code") !default;
$code-weight:           normal !default;
$code-size:             0.875em !default;
$code-padding:          0.25em 0.5em 0.25em !default;

$small-font-size:       0.875em !default;

:root {
  @include vs.register-vars((
    "body-background-color": #{$body-background-color},
    "body-size": #{$body-size},
    "body-min-width": #{$body-min-width},
    "body-rendering": #{$body-rendering},
    "body-family": #{$body-family},
    "body-overflow-x": #{$body-overflow-x},
    "body-overflow-y": #{$body-overflow-y},
    "body-text-color": #{$body-text-color},
    "body-font-size": #{$body-font-size},
    "body-weight": #{$body-weight},
    "body-line-height": #{$body-line-height},
    "code-family": #{$code-family},
    "code-weight": #{$code-weight},
    "code-size": #{$code-size},
    "code-padding": #{$code-padding}
  ));
}

html {
  background-color:        vs.getVar("body-background-color");
  font-size:               vs.getVar("body-font-size");
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing:  antialiased;
  min-width:               vs.getVar("body-min-width");
  overflow-x:              vs.getVar("body-overflow-x");
  overflow-y:              vs.getVar("body-overflow-y");
  text-rendering:          vs.getVar("body-rendering");
  text-size-adjust:        100%;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

body,
button,
input,
optgroup,
select,
textarea {
  font-family: vs.getVar("body-family");
}

code,
pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing:  auto;
  font-family:             vs.getVar("code-family");
}

body {
  color:       vs.getVar("body-text-color");
  font-size:   vs.getVar("body-font-size");
  font-weight: vs.getVar("body-weight");
  line-height: vs.getVar("body-line-height");
}