@use "../configs/variables-scss" as vs;
@use "../configs/variables-derived" as vd;
@use "../configs/variables-init" as vi;
@use "../configs/extends";
@use "../configs/mixins" as mx;

@mixin aside-nav {}

$sidebar-h:                  vs.getVar("scheme-h");
$sidebar-s:                  vs.getVar("scheme-s");
$sidebar-l:                  vs.getVar("scheme-main-l");
$sidebar-background-color:   vs.getVar("scheme-main") !default;
$sidebar-box-shadow-size:    0 0.125em 0 0 !default;
$sidebar-box-shadow-color:   vs.getVar("background") !default;
$sidebar-width:              vd.$sidebar-min-width !default;
$sidebar-padding-vertical:   2rem !default;
$sidebar-padding-horizontal: 1.5rem !default;
$sidebar-z-index:            40 !default;
$sidebar-fixed-z-index:      40 !default;

:root {
  @include vs.register-vars((
    "sidebar-width": #{$sidebar-width}
  ));
}

aside {
  @include vs.register-vars((
    "sidebar-h": #{$sidebar-h},
    "sidebar-s": #{$sidebar-s},
    "sidebar-l": #{$sidebar-l},
    "sidebar-background-color": #{$sidebar-background-color},
    "sidebar-box-shadow-size": #{$sidebar-box-shadow-size},
    "sidebar-box-shadow-color": #{$sidebar-box-shadow-color},
    "sidebar-z-index": #{$sidebar-z-index},
    "sidebar-fixed-z-index": #{$sidebar-fixed-z-index}
  ));
}

aside {
  nav {


    .nav {}

    .expand {}

    .brand {
      display:     inline-flex;
      align-items: center;
      margin:      0;
      line-height: 1;
    }

    .brand-image {}

    .toggler {}

    .toggler-icon {}

    .transparent {}

    .nav {}

    .side {}

    .overlap {}
  }
}
