@use "variables-scss" as vs;
@use "variables-derived" as vd;
@use "variables-init" as vi;

$control-radius:             vs.getVar("radius") !default;
$control-radius-small:       vs.getVar("radius-small") !default;

$control-border-width:       1px !default;
$control-size:               vs.getVar("size-normal") !default;

$control-height:             2.5em !default;
$control-line-height:        1.5 !default;

$control-padding-vertical:   calc(0.5em - #{$control-border-width}) !default;
$control-padding-horizontal: calc(0.75em - #{$control-border-width}) !default;

$control-focus-shadow-l:     50% !default

:root {
  @include vs.register-vars(
    (
      "control-radius": #{$control-radius},
      "control-radius-small": #{$control-radius-small},
      "control-border-width": #{$control-border-width},
      "control-height": #{$control-height},
      "control-line-height": #{$control-line-height},
      "control-padding-vertical": #{$control-padding-vertical},
      "control-padding-horizontal": #{$control-padding-horizontal},
      "control-size": #{$control-size},
      "control-focus-shadow-l": #{$control-focus-shadow-l},
    )
  );
}