@use "sass:list";
@use "sass:math";

@function mergeColorMaps($colors, $custom) {
  // Return at least hard-coded colors
  $color-merged: $colors;

  @if (type-of($custom) == "map") {
    @each $name, $components in $custom {
      @if type-of($name) == "string" and
      (type-of($components) == "list" or type-of($components) == "color") and
      length($components) >= 1 {
        $color-base: null;
        $color-invert: null;
        $color-light: null;
        $color-dark: null;
        $value: null;

        @if type-of($components) == "color" {
          $color-base: $components;
          $color-invert: findColorInvert($color-base);
          $color-light: findLightColor($color-base);
          $color-dark: findDarkColor($color-base);
        } @else if type-of($components) == "list" {
          $color-base: list.nth($components, 1);

          // If invert, light and dark are provided
          @if length($components) > 3 {
            $color-invert: list.nth($components, 2);
            $color-light: list.nth($components, 3);
            $color-dark: list.nth($components, 4);

            // If only invert and light are provided
          } @else if length($components) > 2 {
            $color-invert: list.nth($components, 2);
            $color-light: list.nth($components, 3);
            $color-dark: findDarkColor($color-base);

            // If only invert is provided
          } @else {
            $color-invert: list.nth($components, 2);
            $color-light: findLightColor($color-base);
            $color-dark: findDarkColor($color-base);
          }
        }

        $value: $color-base, $color-invert, $color-light, $color-dark;

        @if type-of($color-base) == "color" {
          $merged: map-merge($color-merged, ($name: $value));
        }
      }
    }
  }

  @return $color-merged;
}

@function colorLuminance($color) {
  @if (type-of($color) != "color") {
    @return 0.55;
  }

  $color-rgb: (
    "red": red($color),
    "green": green($color),
    "blue": blue($color),
  );

  @each $name, $value in $color-rgb {
    $adjusted: 0;
    $value: math.div($value, 255);

    @if $value < 0.03928 {
      $value: math.div($value, 12.92);
    } @else {
      $value: math.div($value + 0.055, 1.055);
      $value: math.pow($value, 2);
    }

    $color-rgb: map-merge(
        $color-rgb,
        (
          $name: $value,
        )
    );
  }

  @return map-get($color-rgb, "red") * 0.2126 + map-get($color-rgb, "green") * 0.7152 + map-get($color-rgb, "blue") * 0.0722;
}

@function findColorInvert($color) {
  @if colorLuminance($color) > 0.55 {
    @return rgba(#000000, 0.7);
  } @else {
    @return #ffffff;
  }
}

@function findLightColor($color, $l: 95%) {
  @if type-of($color) == "color" {
    $l: 95%;

    @if lightness($color)> 95% {
      $l: lightness($color);
    }
    @return change-color($color, $lightness: $l);
  }
  @return $background;
}

@function findDarkColor($color, $base-l: 28%) {
  @if type-of($color) == "color" {
    $luminance: colorLuminance($color);
    $delta: 0.53 - $luminance;
    $target-l: round($base-l + $delta * 53);

    @return change-color($color, $lightness: max($base-l, $target-l));
  }

  @return $text-strong;
}