@use "variables-init" as vi;
@use "functions" as fn;

// Scheme colors
$scheme-main:       vi.$white !default;
$scheme-main-bis:   vi.$white-bis !default;
$scheme-main-ter:   vi.$white-ter !default;
$scheme-invert:     vi.$black !default;
$scheme-invert-bis: vi.$black-bis !default;
$scheme-invert-ter: vi.$black-ter !default;

// Text colors
$text-color:        vi.$gray-900 !default;
$text-invert:       fn.findColorInvert($text-color) !default;
$text-weak:         vi.$gray !default;
$text-strong:       vi.$gray-darker !default;

// Status colors

$primary:           vi.$teal !default;
$info:              vi.$cyan !default;
$success:           vi.$green !default;
$warning:           vi.$yellow !default;
$danger:            vi.$red !default;
$light:             vi.$white-ter !default;
$dark:              vi.$gray-darker !default;

// Link colors
$link:              vi.$blue !default;

// Decorative colors

$background:        vi.$white-ter !default;
$border:            vi.$gray-lighter !default;
$border-weak:       vi.$gray-lightest !default;

// Code colors

$code:              vi.$red !default;
$code-background:   $background !default;

$pre:               $text-color !default;
$pre-background:    $background !default;

// Typography

$family-primary:    vi.$family-sans-serif !default;
$family-secondary:  vi.$family-sans-serif !default;
$family-code:       vi.$family-monospace !default;

$size-small:        vi.$size-7 !default;
$size-normal:       vi.$size-6 !default;
$size-medium:       vi.$size-5 !default;
$size-large:        vi.$size-4 !default;

$sizes:             vi.$size-1 vi.$size-2 vi.$size-3 vi.$size-4 vi.$size-5 vi.$size-6 vi.$size-7 !default;

// Effects
$shadow-color:      vi.$black !default;

// Lists
$custom-colors:     null !default;
$custom-shades:     null !default;

$colors:            fn.mergeColorMaps((
  "white":(vi.$white, vi.$black),
  "black":(vi.$black, vi.$white),
  "light":($light, $dark),
  "dark":($dark, $light),
  "text": $text-color,
  "primary": $primary,
  "link": $link,
  "info": $info,
  "success": $success,
  "warning": $warning,
  "danger": $danger,
), $custom-colors) !default;

$shades:            fn.mergeColorMaps((
  "black-bis": vi.$black-bis,
  "black-ter": vi.$black-ter,
  "gray-darker": vi.$gray-darker,
  "gray-dark": vi.$gray-dark,
  "gray": vi.$gray,
  "gray-light": vi.$gray-light,
  "gray-lighter": vi.$gray-lighter,
  "gray-lightest": vi.$gray-lightest,
  "white-ter": vi.$white-ter,
  "white-bis": vi.$white-bis,
), $custom-shades) !default;

// Navigations
$header-height:     3.5rem !default;
$sidebar-width:     15rem !default;