@use "sass:color";
@use "sass:list";
@use "sass:map";
@use "sass:math";

@use "variables-init" as vi;
@use "functions" as fn;

@function buildVar($name, $prefix:"", $suffix: "") {
  @return --#{vi.$prefix}#{$prefix}#{$name}#{$suffix};
}

@function buildHsla($name, $l, $a: 1) {
  $lightness: getVar($name, "", "-l");
  @if ($l) {
    $lightness: $l;
  }
  @return hsla(#{getVar($name, "", "-h")}, #{getVar($name, "", "-s")}, #{$lightness}, #{$a});
}

@function getVar($name, $prefix: "", $suffix: "") {
  $varName: buildVar($name, $prefix, $suffix);
  @return var($varName);
}

@mixin register-var($name, $value, $prefix: "", $suffix: "") {
  $varName:    buildVar($name, $prefix, $suffix);
  #{$varName}: #{$value};
}

@mixin register-vars($vars, $prefix: "", $suffix: "") {
  @each $name, $value in $vars {
    @include register-var($name, $value, $prefix, $suffix);
  }
}

@mixin register-rgb($name, $value) {
  @include register-var($name, (red($value), green($value), blue($value)), "", "-rgb");
}

@mixin register-hsl($name, $value) {
  @include register-var($name, round(hue($value)), "", "-h");
  @include register-var($name, round(saturation($value)), "", "-s");
  @include register-var($name, round(lightness($value)), "", "-l");
}

@mixin generate-on-scheme-colors($name, $base, $scheme-main) {
  $scheme-main-brightness: fn.colorBrightness($scheme-main);
  $on-scheme-color:        $base;
  $fg-luminance:           fn.colorLuminance($on-scheme-color);
  $bg-luminance:           fn.colorLuminance($scheme-main);
  $ratio:                  0;
  $found-decent-color:     false;

  @if ($fg-luminance > $bg-luminance) {
    @for $i from 0 through 20 {
      $ratio: math.div(($fg-luminance + 0.05), ($bg-luminance + 0.05));

      @if ($ratio > 5) {
        $found-decent-color: true;
      } @else {
        $on-scheme-color:    lighten($on-scheme-color, 5%);
        $fg-luminance:       fn.colorLuminance($on-scheme-color);
      }
    }
  } @else {
    @for $i from 0 through 20 {
      $ratio: math.div(($bg-luminance + 0.05), ($fg-luminance + 0.05));

      @if ($ratio > 5) {
        $found-decent-color: true;
      } @else {
        $on-scheme-color:    darken($on-scheme-color, 5%);
        $fg-luminance:       fn.colorLuminance($on-scheme-color);
      }
    }
  }

  $on-scheme-lightness: lightness($on-scheme-color);
  @include register-var($name, $on-scheme-lightness, "", "-on-scheme-l");
  $on-scheme-l: getVar($name, "", "-on-scheme-l");
  @include register-var(#{$name}-on-scheme, buildHsla($name, $on-scheme-l));
}

@mixin register-base-color($name, $base) {
  $hsla: buildHsla($name, getVar($name, "", "-l"));
  @include register-var($name, $hsla);
  @include register-rgb($name, $base);
  @include register-hsl($name, $base);
}

@mixin generate-basic-palette($name, $base, $invert: null) {
  @include register-base-color($name, $base);

  @if $invert {
    @include register-var($name, lightness($invert), "", "-invert-l");
    @include register-var(#{$name}-invert, $invert);
  }
}

@mixin generate-color-palette($name, $base, $scheme-main-l:100%, $invert:null, $light:null, $dark:null) {
  $h:                  round(hue($base)); // Hue
  $s:                  round(saturation($base)); // Saturation
  $l:                  round(lightness($base)); // Lightness
  $base-luminance:     fn.colorLuminance($base); // Luminance
  $l-base:             round($l % 10); // Get lightness second digit: 53% -> 3$
  $l-0:                0%; // 5% or less
  $l-5:                5%; // 5% or more
  $a:                  1; // Alpha
  $base-digits:        "00";

  $scheme-l-0:         0%;
  $scheme-l-base:      round($scheme-main-l % 10);
  $closest-5:          math.round(math.div($scheme-main-l, 5)) * 5;
  $pct-to-int:         math.div($closest-5, 100%) * 100;
  $scheme-main-digits: #{$pct-to-int};

  @include register-base-color($name, $base);
}

@mixin accouter-theme($name) {
  [data-#{vi.$prefix}theme="#{$name}"],
  .#{vi.$prefix}theme-#{$name} {
    @content;
  }
}

@mixin system-theme($name) {
  @media (prefers-color-scheme: #{$name}) {
    :root {
      @content;
    }
  }
}