// Scheme Hue and Saturation

$scheme-h:             221;
$scheme-s:             14%;
$dark-l:               20%;
$light-l:              90%;

// Colors

$gray-100:             #f8f9fa !default;
$gray-200:             #e9ecef !default;
$gray-300:             #dee2e6 !default;
$gray-400:             #ced4da !default;
$gray-500:             #adb5bd !default;
$gray-600:             #6c757d !default;
$gray-700:             #495057 !default;
$gray-800:             #343a40 !default;
$gray-900:             #212529 !default;

$grays:                (
                         "100": $gray-100,
                         "200": $gray-200,
                         "300": $gray-300,
                         "400": $gray-400,
                         "500": $gray-500,
                         "600": $gray-600,
                         "700": $gray-700,
                         "800": $gray-800,
                         "900": $gray-900
                       ) !default;

$black:                hsl(221, 14%, 4%) !default;
$black-bis:            hsl(221, 14%, 9%) !default;
$black-ter:            hsl(221, 14%, 14%) !default;

$gray-darker:          hsl(221, 14%, 21%) !default;
$gray-dark:            hsl(221, 14%, 29%) !default;
$gray:                 hsl(221, 14%, 48%) !default;
$gray-light:           hsl(221, 14%, 71%) !default;
$gray-lighter:         hsl(221, 14%, 86%) !default;
$gray-lightest:        hsl(221, 14%, 93%) !default;

$white-ter:            hsl(221, 14%, 96%) !default;
$white-bis:            hsl(221, 14%, 98%) !default;
$white:                hsl(221, 14%, 100%) !default;

$blue:                 #0457d2 !default;
$indigo:               #5308cf !default;
$purple:               #6a2ddc !default;
$pink:                 #dd1378 !default;
$red:                  #d51124 !default;
$orange:               #dd6c0d !default;
$yellow:               #efba12 !default;
$green:                #0d812f !default;
$teal:                 #11baa6 !default;
$cyan:                 #0d94cd !default;

$contrast-min-ratio:   4.5 !default;
$contrast-color-dark:  $black !default;
$contrast-color-light: $black !default;

// Typography

$family-sans-serif:    "Inter", "SF Pro", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;
$family-monospace:     "Inconsolata", "Hack", "SF Mono", "Roboto Mono", "Source Code Pro", "Ubuntu Mono", monospace !default;
$render-mode:          optimizeLegibility !default;

$size-1:               3rem !default;
$size-2:               2.5rem !default;
$size-3:               2rem !default;
$size-4:               1.5rem !default;
$size-5:               1.25rem !default;
$size-6:               1rem !default;
$size-7:               0.75rem !default;

$weight-light:         300 !default;
$weight-normal:        400 !default;
$weight-medium:        500 !default;
$weight-semibold:      600 !default;
$weight-bold:          700 !default;
$weight-extrabold:     800 !default;

// Spacing
$block-spacing:        1.5rem !default;
$aspect-ratios:        (
                           (1, 1),
                           (5, 4),
                           (4, 3),
                           (3, 2),
                           (5, 3),
                           (16, 9),
                           (2, 1),
                           (3, 1),
                           (4, 5),
                           (3, 4),
                           (2, 3),
                           (3, 5),
                           (9, 16),
                           (1, 2),
                           (1, 3)
                       ) !default;

// Responsiveness

// The container horizontal gap, which acts as the offset for breakpoints
$gap:                  32px !default;

// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet:               769px !default;

// 960px container + 4rem
$desktop:              960px + 2 * $gap !default;

// 1152px container + 4rem
$widescreen:           1152px + 2 * $gap !default;
$widescreen-enabled:   true !default;

// 1344px container + 4rem
$fullhd:               1344px + 2 * $gap !default;
$fullhd-enabled:       true !default;

$breakpoints:          (
                         "mobile":("until": $tablet),
                         "tablet":("from": $tablet),
                         "tablet-only":("from": $tablet, "until": $desktop),
                         "touch":("from": $desktop),
                         "desktop":("from": $desktop),
                         "desktop-only":("from": $desktop, "until": $widescreen),
                         "until-widescreen":("until": $widescreen),
                         "widescreen":("from": $widescreen),
                         "widescreen-only":("from": $widescreen, "until": $fullhd),
                         "until-fullhd":("until": $fullhd),
                         "fullhd":("from": $fullhd)
                       ) !default;

// Miscellaneous

$easing:               ease-out !default;
$radius-small:         0.25rem !default;
$radius:               0.375rem !default;
$radius-medium:        0.5em !default;
$radius-large:         0.75rem !default;
$radius-rounded:       9999px !default;
$speed:                90ms !default;

// Flags

$variable-columns:     true !default;
$rtl:                  false !default;

// Prefixes

$prefix:               "" !default; //""ar-" !default;
$prefix-is:            "is-" !default;
$prefix-has:           "has-" !default;