@use "sass:list";

@use "../configs/variables-scss" as vs;
@use "../configs/variables-derived" as vd;
@use "../configs/variables-init" as vi;
@use "../configs/extends";
@use "../configs/mixins" as mx;

$button-h:                                 #{vs.getVar("scheme-h")};
$button-s:                                 #{vs.getVar("scheme-s")};
$button-l:                                 #{vs.getVar("scheme-main-l")};
$button-background-l:                      #{vs.getVar("scheme-main-l")};
$button-background-l-delta:                0%;
$button-hover-background-l-delta:          #{vs.getVar("hoover-background-l-delta")};
$button-active-background-l-delta:         #{vs.getVar("active-background-l-delta")};
$button-color-l:                           #{vs.getVar("text-strong-l")};
$button-border-l:                          #{vs.getVar("border-l")};
$button-border-l-delta:                    0%;
$button-hover-border-l-delta:              #{vs.getVar("hoover-border-l-delta")};
$button-active-border-l-delta:             #{vs.getVar("active-border-l-delta")};
$button-focus-border-l-delta:              #{vs.getVar("focus-border-l-delta")};
$button-outer-shadow-h:                    0;
$button-outer-shadow-s:                    0%;
$button-outer-shadow-l:                    20%;
$button-outer-shadow-a:                    0.05;

$button-weight:                            #{vs.getVar("weight-medium")} !default;
$button-family:                            false !default;

$button-border-color:                      vs.getVar("border") !default;
$button-border-style:                      solid !default;
$button-border-width:                      vs.getVar("control-border-width") !default;

$button-padding-vertical:                  0em !default;
$button-padding-horizontal:                1em !default;
$button-rounded-padding-horizontal-offset: 0.25em !default;

$button-focus-border-color:                vs.getVar("link-focus-border") !default;
$button-focus-box-shadow-size:             0 0 0 0.125em !default;
$button-focus-box-shadow-color:            hsla(#{vs.getVar("link-h")}, #{vs.getVar("link-s")}, #{vs.getVar("link-on-sheme-l")}, 0.25) !default;

$button-active-color:                      vs.getVar("link-text-active") !default;
$button-active-border-color:               vs.getVar("link-text-active-border") !default;

$button-text-color:                        vs.getVar("text") !default;
$button-text-decoration:                   underline !default;
$button-text-hover-color:                  vs.getVar("text-strong") !default;
$button-text-hover-background-color:       vs.getVar("background") !default;

$button-ghost-color:                       vs.getVar("link-text") !default;
$button-ghost-decoration:                  none !default;
$button-ghost-hover-color:                 vs.getVar("link") !default;
$button-ghost-hover-decoration:            underline !default;
$button-ghost-background:                  none !default;
$button-ghost-border-color:                transparent !default;

$button-disabled-background-color:         vs.getVar("scheme-main") !default;
$button-disabled-border-color:             vs.getVar("border") !default;
$button-disabled-shadow:                   none !default;
$button-disabled-opacity:                  0.5 !default;

$button-static-color:                      vs.getVar("text-weak") !default;
$button-static-background-color:           vs.getVar("scheme-main-ter") !default;
$button-static-border-color:               vs.getVar("border") !default;

$button-colors:                            vd.$colors !default;
$button-responsive-sizes:                  (
                                             "mobile": (
                                               "small": calc(#{vs.getVar("size-small")} * 0.75),
                                               "normal": calc(#{vs.getVar("size-small")} * 0.875),
                                               "medium": vs.getVar("size-small"),
                                               "large": vs.getVar("size-normal"),
                                             ),
                                             "tablet-only":(
                                               "small": calc(#{vs.getVar("size-small")} * 0.875),
                                               "normal": vs.getVar("size-small"),
                                               "medium": vs.getVar("size-normal"),
                                               "large": vs.getVar("size-medium"),
                                             ),
                                           ) !default;

$no-palette:                               ("white", "black", "light", "dark");

.#{vi.$prefix}button {
  @include vs.register-vars((
    "button-family": #{$button-family},
    "button-weight": #{$button-weight},
    "button-border-color": #{$button-border-color},
    "button-border-style": #{$button-border-style},
    "button-border-width": #{$button-border-width},
    "button-padding-vertical": #{$button-padding-vertical},
    "button-padding-horizontal": #{$button-padding-horizontal},
    "button-focus-border-color": #{$button-focus-border-color},
    "button-focus-box-shadow-size": #{$button-focus-box-shadow-size},
    "button-focus-box-shadow-color": #{$button-focus-box-shadow-color},
    "button-active-color": #{$button-active-color},
    "button-active-border-color": #{$button-active-border-color},
    "button-text-color": #{$button-text-color},
    "button-text-decoration": #{$button-text-decoration},
    "button-text-hover-color": #{$button-text-hover-color},
    "button-text-hover-background-color": #{$button-text-hover-background-color},
    "button-ghost-color": #{$button-ghost-color},
    "button-ghost-decoration": #{$button-ghost-decoration},
    "button-ghost-hover-color": #{$button-ghost-hover-color},
    "button-ghost-hover-decoration": #{$button-ghost-hover-decoration},
    "button-ghost-background": #{$button-ghost-background},
    "button-ghost-border-color": #{$button-ghost-border-color},
    "button-disabled-background-color": #{$button-disabled-background-color},
    "button-disabled-border-color": #{$button-disabled-border-color},
    "button-disabled-shadow": #{$button-disabled-shadow},
    "button-disabled-opacity": #{$button-disabled-opacity},
    "button-static-color": #{$button-static-color},
    "button-static-background-color": #{$button-static-background-color},
    "button-static-border-color": #{$button-static-border-color},
  ));
}

.#{vi.$prefix}button {
  @include vs.register-vars((
    "button-h": #{$button-h},
    "button-s": #{$button-s},
    "button-l": #{$button-l},
    "button-background-l": #{$button-background-l},
    "button-background-l-delta": #{$button-background-l-delta},
    "button-hover-background-l-delta": #{$button-hover-background-l-delta},
    "button-active-background-l-delta": #{$button-active-background-l-delta},
    "button-color-l": #{$button-color-l},
    "button-border-l": #{$button-border-l},
    "button-border-l-delta": #{$button-border-l-delta},
    "button-hover-border-l-delta": #{$button-hover-border-l-delta},
    "button-active-border-l-delta": #{$button-active-border-l-delta},
    "button-focus-border-l-delta": #{$button-focus-border-l-delta},
    "button-outer-shadow-h": #{$button-outer-shadow-h},
    "button-outer-shadow-s": #{$button-outer-shadow-s},
    "button-outer-shadow-l": #{$button-outer-shadow-l},
    "button-outer-shadow-a": #{$button-outer-shadow-a},
    "loading-color": hsl(#{vs.getVar("button-h")}, #{vs.getVar("button-s")}, #{vs.getVar("button-color-l")}),
  ));

  @extend %control;
  @extend %unselectable;

  background-color: hsl(#{vs.getVar("button-h")}, #{vs.getVar("button-s")}, calc(#{vs.getVar("button-background-l")} + #{vs.getVar("button-background-l-delta")}));
  border-color:     hsl(#{vs.getVar("button-h")}, #{vs.getVar("button-s")}, calc(#{vs.getVar("button-border-l")} + #{vs.getVar("button-border-l-delta")}));
  border-style:     vs.getVar("button-border-style");
  border-width:     vs.getVar("button-border-width");
}
