@use "../configs/variables-scss" as vs;
@use "../configs/variables-derived" as vd;
@use "../configs/variables-init" as vi;
@use "../configs/extends";
@use "../configs/mixins" as mx;

$content-heading-color:                                #{vs.getVar("text-strong")} !default;
$content-heading-weight:                               #{vs.getVar("weight-extrabold")} !default;
$content-heading-line-height:                          1.125 !default;

$content-block-margin-bottom:                          1em !default;

$content-blockquote-background-color:                  #{vs.getVar("background")} !default;
$content-blockquote-border-left:                       5px solid #{vs.getVar("border")} !default;
$content-blockquote-padding:                           1.25em 1.5em !default;

$content-pre-padding:                                  1.25em 1.5em !default;

$content-table-cell-border:                            1px solid #{vs.getVar("border")} !default;
$content-table-cell-border-width:                      0 0 1px !default;
$content-table-cell-padding:                           0.5em 0.75em !default;
$content-table-cell-heading-color:                     #{vs.getVar("text-strong")} !default;
$content-table-head-cell-border-width:                 0 0 2px !default;
$content-table-head-cell-color:                        #{vs.getVar("text-strong")} !default;
$content-table-body-last-row-cell-border-bottom-width: 0 !default;
$content-table-foot-cell-border-width:                 2px 0 0 !default;
$content-table-foot-cell-color:                        #{vs.getVar("text-strong")} !default;

.#{vi.$prefix}content {
  @include vs.register-vars((
    "content-heading-color": #{$content-heading-color},
    "content-heading-weight": #{$content-heading-weight},
    "content-heading-line-height": #{$content-heading-line-height},
    "content-block-margin-bottom": #{$content-block-margin-bottom},
    "content-blockquote-background-color": #{$content-blockquote-background-color},
    "content-blockquote-border-left": #{$content-blockquote-border-left},
    "content-blockquote-padding": #{$content-blockquote-padding},
    "content-pre-padding": #{$content-pre-padding},
    "content-table-cell-border": #{$content-table-cell-border},
    "content-table-cell-border-width": #{$content-table-cell-border-width},
    "content-table-cell-padding": #{$content-table-cell-padding},
    "content-table-cell-heading-color": #{$content-table-cell-heading-color},
    "content-table-head-cell-border-width": #{$content-table-head-cell-border-width},
    "content-table-head-cell-color": #{$content-table-head-cell-color},
    "content-table-body-last-row-cell-border-bottom-width": #{$content-table-body-last-row-cell-border-bottom-width},
    "content-table-foot-cell-border-width": #{$content-table-foot-cell-border-width},
    "content-table-foot-cell-color": #{$content-table-foot-cell-color},
  ));
}

.#{vi.$prefix}content {
  @extend %block;

  // inline
  li + li {
    margin-top: 0.25em;
  }

  // block
  p,
  dl,
  ol,
  ul,
  blockquote,
  pre,
  table {
    &:not(:last-child) {
      margin-bottom: vs.getVar("content-block-margin-bottom");
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color:       vs.getVar("content-heading-color");
    font-weight: vs.getVar("content-heading-weight");
    line-height: vs.getVar("content-heading-line-height");
  }

  h1 {
    font-size:     2em;
    margin-bottom: 0.5em;

    &:not(:first-child) {
      margin-top: 1em;
    }
  }

  h2 {
    font-size:     1.75em;
    margin-bottom: 0.5714em;

    &:not(:first-child) {
      margin-top: 1.1429em;
    }
  }

  h3 {
    font-size:     1.5em;
    margin-bottom: 0.6667em;

    &:not(:first-child) {
      margin-top: 1.3333em;
    }
  }

  h4 {
    font-size:     1.25em;
    margin-bottom: 0.8em;
  }

  h5 {
    font-size:     1.125em;
    margin-bottom: 0.8888em;
  }

  h6 {
    font-size:     1em;
    margin-bottom: 1em;
  }

  blockquote {
    background-color: vs.getVar("content-blockquote-background-color");
    border-left:      vs.getVar("content-blockquote-border-left");
    padding:          vs.getVar("content-blockquote-padding");
  }

  ol {}

  ul {}

  dd {}

  figure:not([class]) {}

  pre {}

  sup,
  sub {

  }

  table {}

  .#{vi.$prefix}tabs {}

  // sizes
  &.#{vi.$prefix}is-small {}

  &.#{vi.$prefix}is-normal {}

  &.#{vi.$prefix}is-medium {}

  &.#{vi.$prefix}is-large {}
}