@use "../configs/variables-scss" as vs;
@use "../configs/variables-derived" as vd;
@use "../configs/variables-init" as vi;
@use "../configs/extends";
@use "../configs/mixins" as mx;

$table-color:                                   vs.getVar("text-strong") !default;
$table-background-color:                        vs.getVar("scheme-main") !default;

$table-cell-border-color:                       vs.getVar("border") !default;
$table-cell-border-style:                       solid !default;
$table-cell-border-width:                       0 0 1px !default;
$table-cell-padding:                            0.5em 0.75em !default;
$table-cell-heading-color:                      vs.getVar("text-strong") !default;
$table-cell-text-align:                         left !default;

$table-head-cell-border-width:                  0 0 2px !default;
$table-head-cell-color:                         vs.getVar("text-strong") !default;
$table-foot-cell-border-width:                  2px 0 0 !default;
$table-foot-cell-color:                         vs.getVar("text-strong") !default;

$table-head-background-color:                   transparent !default;
$table-body-background-color:                   transparent !default;
$table-foot-background-color:                   transparent !default;

$table-row-hover-background-color:              vs.getVar("scheme-main-bis") !default;

$table-row-active-background-color:             vs.getVar("primary") !default;
$table-row-active-color:                        vs.getVar("primary-invert") !default;

$table-striped-row-even-background-color:       vs.getVar("scheme-main-bis") !default;
$table-striped-row-even-hover-background-color: vs.getVar("scheme-main-ter") !default;

$table-colors:                                  vd.$colors !default;

.#{vi.$prefix}table {
  @include vs.register-vars((
    "table-color": #{$table-color},
    "table-background-color": #{$table-background-color},
    "table-cell-border-color": #{$table-cell-border-color},
    "table-cell-border-style": #{$table-cell-border-style},
    "table-cell-border-width": #{$table-cell-border-width},
    "table-cell-padding": #{$table-cell-padding},
    "table-cell-heading-color": #{$table-cell-heading-color},
    "table-cell-text-align": #{$table-cell-text-align},
    "table-head-cell-border-width": #{$table-head-cell-border-width},
    "table-head-cell-color": #{$table-head-cell-color},
    "table-foot-cell-border-width": #{$table-foot-cell-border-width},
    "table-foot-cell-color": #{$table-foot-cell-color},
    "table-head-background-color": #{$table-head-background-color},
    "table-body-background-color": #{$table-body-background-color},
    "table-foot-background-color": #{$table-foot-background-color},
    "table-row-hover-background-color": #{$table-row-hover-background-color},
    "table-row-active-background-color": #{$table-row-active-background-color},
    "table-row-active-color": #{$table-row-active-color},
    "table-striped-row-even-background-color": #{$table-striped-row-even-background-color},
    "table-striped-row-even-hover-background-color": #{$table-striped-row-even-hover-background-color},
  ));
}

.#{vi.$prefix}table {
  @extend %block;

  td,
  th {}

  th {}

  tr {}

  thead {}

  tfoot {}

  tbody {}

  // modifiers
  &.#{vi.$prefix}is-bordered {}

  &.#{vi.$prefix}is-fullwidth {}

  &.#{vi.$prefix}is-hoverable {}

  &.#{vi.$prefix}is-narrow {}

  &.#{vi.$prefix}is-striped {}
}

.#{vi.$prefix}table-container {
  @extend %block;
  @include mx.overflow-touch;
  overflow:   auto;
  overflow-y: hidden;
  max-width:  100%;
}